
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<h1>Lista Supermocy</h1>

<table>
    <thead>
    <tr>
        <th>Supermoc</th>
        <th>Liczba superbohaterów</th>
    </tr>
    </thead>
    <tbody>
  
    </tbody>
</table>

