@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project SuperHeroes</h1>
    <p> <a href="https://github.com/PatrykGorny/ProjectSuperHeroes">Link do repo</a></p>
</div>